.select2-container .select2-selection--multiple {
    width: 250px;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 2px;
    border: 1px solid #767676;
    padding-bottom: 5px;
    padding-right: 0px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 2px;
    outline: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 18px;
}
