{% extends 'base.html' %}
{% block content %}
<h1>Приветствую!</h1>
<p>Данный проект сделан в рамках прохождения курса по <a href="https://stepik.org/course/183363/info">Django</a>.</p>
<p>Однако, вы всё ещё можете использовать его по прямому назначению и искать, читать или добавлять информацию о
    известных женщинах...)</p>

<h2>Технологии:</h2>
<ul>
    <li>Django</li>
    <li>PostgreSQL</li>
    <li>Redis</li>
    <li>OAuth</li>
    <li>Requests</li>
    <li>Unittest</li>
</ul>

<h2>Контакты:</h2>
<p>Telegram: <a href="https://t.me/Lena_AGI">Lena_AGI</a>
    <br>
    GitHub: <a href="https://github.com/Animatrees">Animatrees</a>
    <br>
    Stepik: <a href="https://stepik.org/users/471918251/profile">Елена Веденьева</a>
</p>
<p></p>
{% endblock content %}
