{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    {% if not user.is_authenticated %}
    <button class="js-captcha-refresh" type="button">Refresh captcha</button>
    {% endif %}
    <p><button type="submit" class="form-button">Отправить</button></p>
</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
    return false;
});
</script>
{% endblock %}
