{% extends 'base.html' %}

{% block content %}
<ul id="list-articles" class="list-articles">
    <p>{{ empty_list_message }}</p>
    {% for p in page_obj %}
          <li class="article">
             {% if p.photo %}
                   <img class="img-article-left thumb" src="{{p.photo.url}}" alt="{{p.title}}">
             {% endif %}
             <h2>{{p.title}}</h2>
             {% autoescape off %}
             {{p.content|linebreaks|truncatechars:300}}
             {% endautoescape %}
             <div class="clear"></div>
             <div class="article-panel">
                <p class="first">Обновлено: {{p.time_update|date:"d-m-Y H:i:s"}} | Автор: {{ p.author.username|default:'Админ'}}</p>
                <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
             </div>

             {% if page_obj.has_next and forloop.last %}
             <span hx-get="{{ view.get_url }}?page={{ page_obj.next_page_number }}"
                   hx-swap="beforeend" hx-target="#list-articles" hx-select=".article"
                   hx-trigger="revealed">
             </span>
             {% endif %}
          </li>
    {% endfor %}
</ul>
{% endblock %}

{% block navigation %}
{% endblock %}
